@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'OrchideaPro';
  src: url('./assets/fonts/OrchideaPro-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Manrope', 'OrchideaPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
